/* Variables styles */

@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');
$altran_blue:rgb(0,
126,
175);
$altran_yellow:rgb(254,
237,
53);
$altran_orange:rgb(228,
114,
43);
$altran_darkblue: rgb(38,
66,
146);
$invalid: #cf000f;
$font_lato: 'Lato',
sans-serif;
$font_ubuntu: 'Ubuntu',
sans-serif;