<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<!-- List of projects -->
<div class="card" *ngIf="!isLoading && !isEditing && !isAdding">
    <h5 class="card-header">Liste des projects ({{projects.length}}) /
        <button class="btn btn-sm btn-success" (click)="enableAdding()">
        <i class="fa fa-plus"></i> Ajouter</button>
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="term" placeholder="Rechercher" aria-label="Rechercher">
    </h5>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Nom</th>
                    <!-- <th>Rôle</th> -->
                </tr>
            </thead>
            <tbody *ngIf="projects.length === 0">
                <tr>
                    <td colspan="12">Il n'y a aucun projet enregistré. Veuillez créer une nouvelle fiche.</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let project of projects | filter : term">
                    <td>{{project.name}}</td>
                    <!-- <td>{{project.Type_user.type}}</td> -->
                    <td class="td-btn">
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(project)" title="Modifier">
                        <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="td-btn">
                        <button class="btn btn-sm btn-danger" (click)="enableDeleting(project)" title="Supprimer" data-toggle="modal" data-target="#confirmDelete">
                        <i class="fa fa-trash"></i>
                        </button>
                        <div class="modal fade" id="confirmDelete" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        </button>
                                        <h5 class="modal-title">Voulez-vous réellement supprimer cette fiche?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" (click)="deleteProject()" data-dismiss="modal">Confirmer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Edit project -->
<div class="card" *ngIf="isEditing">
    <h5 class="card-header">Modifier un projet /
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
        <i class="fa fa-times"></i> Annuler</button>
    </h5>
    <div class="card-block">
        <form class="form-inline" #form="ngForm" (ngSubmit)="editProject(project)" style="text-align:center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Contact</h5>
                        </div>
                        <div class="form-group">
                            <label for="name">Nom: </label>
                            <input class="form-control" type="text" name="name" [(ngModel)]="project.name" [ngModelOptions]="{standalone: true}" (keyup)="changeName(name.value)" value="{{nameValue | uppercase}}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Détails</h5>
                        </div>
                        <div class="form-group">
                            <label for="type_user">Fonction au CJD: </label>
                            <select class="form-control" name="type_user_id" [(ngModel)]="project.type_user_id" [ngModelOptions]="{standalone: true}" required>
                                <option *ngFor="let type_user of type_users" [value]="type_user.id">{{type_user.type}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-save"></i> Enregistrer</button>
        </form>
    </div>
</div>

<!-- Create project -->
<div class="card" *ngIf="!isEditing && isAdding">
    <h5 class="card-header">Ajouter un projet /
        <button class="btn btn-sm btn-warning" (click)="cancelAdding()">
        <i class="fa fa-times"></i> Annuler</button>
    </h5>
    <div class="card-block">
        <form class="form-inline" [formGroup]="addProjectForm" (ngSubmit)="addProject()" style="text-align:center">
            <div class="card-deck">
                <div class="card">
                    <div class="form-group">
                        <label for="name">Nom: </label>
                        <input class="form-control" type="text" name="name" formControlName="name" (keyup)="changeName(name.value)" value="{{nameValue | uppercase}}" required>
                    </div>
                </div>
                <!-- </div>
            <div class="card-deck"> -->
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="skill">Compétence requise: </label>
                            <select [(ngModel)]="skill" class="form-control" name="skill_id" formControlName="skill_id" required>
                                    <option *ngFor="let skill of skills" [value]="skill.id">{{skill.name}}</option>
                                  </select>
                        </div>
                        <div class="form-group">
                            <label for="level">Niveau requis: </label>
                            <select [(ngModel)]="level" class="form-control" name="level_id" formControlName="level_id" required>
                                    <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
                                  </select>
                        </div>
                    </div>
                </div>
                <!-- [disabled]="!addProjectForm.valid" -->
                <button class="btn btn-primary" type="submit">
            <i class="fa fa-floppy-o"></i> Valider</button>
            </div>
        </form>
    </div>
</div>