<nav class="navbar navbar-dark sticky-top">
    <div class="nav-logo"></div>
    <div class="nav navbar-nav">
        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Accueil
        </a>
        <a routerLink="/skills" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.isAdmin">
            <i class="fa fa-star"></i> Compétences
        </a>
        <a routerLink="/consultants" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.isAdmin">
            <i class="fa fa-users"></i> Consultants
        </a>
        <a routerLink="/projects" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.isAdmin">
            <i class="fa fa-project-diagram"></i> Projets
        </a>
        <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-sign-out-alt"></i> Logout
        </a>
    </div>
</nav>

<router-outlet></router-outlet>