@import '../variables';
.nav-logo {
    height: 5vh;
    background-image: url("/assets/images/logo_Altran.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

nav {
    background-color: $altran_darkblue;
}

.navbar {
    border-radius: 0 !important;
}